body {
    display: flex;
    flex-direction: column;
    width: 100svw;
    height: max-content;

    font-family: "Roboto Slab", serif;
}

/*---------------- header css ---------------------*/
.hed {
    height: 2em;
    background-color: rgba(169, 169, 169, 0.063);

    display: flex;

    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
}

.hed span {
    display: flex;
}

.hed span a {
    text-decoration: none;
}

/*left button of header */
.hed span:nth-of-type(1) {
    background-color: rgba(92, 255, 255, 0.4);
    flex-grow: 1;
    justify-content: center;
}

.hed span:first-child>button {
    background-color: rgba(0, 139, 139, 0);
    border-radius: 0.3em;
}

/* center of header */
.hed span:nth-of-type(2) {
    background-color: rgba(255, 249, 164, 0.4);
    border-left: 1px solid black;
    border-right: 1px solid black;

    flex-grow: 3;
    justify-content: space-evenly;

}


/*right side header/login and sign up*/
.hed span:nth-of-type(3) {
    background-color: rgba(165, 255, 113, 0.4);
    justify-content: space-around;

    flex-grow: 1;
}

/*--------------------------banner-------------- */
.ban {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: 100svh;

    background-color: #a16363;
    background-image: url(https://cdn.media.amplience.net/i/metallica/72-seasons_home-slider?fmt=auto&w=1536&sm=aspect&aspect=4:3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ban div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-bottom: 3em;
}

.bh {
    background-color: rgba(0, 0, 0, 0.8);

    box-sizing: border-box;
    border: 1px solid rgba(255, 0, 0, 0);
    border-top-left-radius: 0.8em;
    font-weight: 600;
    font-size: 2.5rem;
    color: aliceblue;

}

.bp {
    background-color: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    display: flex;
    flex-direction: column;

    padding-top: 15px;

}

.bb {

    background-color: #a1636300;
    color: aliceblue;

    border-width: 2px;
    border-color: aliceblue;
    font-size: 2rem;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

    align-self: flex-end;
    margin-right: 1em;

    transition: all 0.5s;
}

.bb:hover {
    border-radius: 0;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    transform: scale(1.1);
    transform: translate(0px 5px);
    background-color: rgba(240, 248, 255, 0.8);
    color: black;
    border-color: black;
    box-shadow: 0 0.2em 0.8em rgba(255, 255, 255, 0.2);

}


/*---------------------------footer----------------*/
.ad {
    background-color: rgb(231, 231, 231);

    height: 100svh;
    display: flex;

    align-items: center;
    justify-content: center;

}

.ad button {
    width: calc((3/4)*100%);
    height: calc((3/4)*100%);
}

.ba1 {
    background-image: url(https://cdn.media.amplience.net/i/metallica/FAN-CLUB_1600x1600?fmt=auto);
    background-position: top 10% center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 5em;
}

.ba2 {

    background-image: url(https://cdn.media.amplience.net/i/metallica/Metallica_Report_3000x3000?fmt=auto);
    background-position: top 20% center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 5em;
}

/*-----------------phone css*------------------*/
@media(max-width:780px) {

    /*---------------header----------------*/
    /*hiding senter of header*/
    .hed span:nth-of-type(2) {
        display: none;
    }


    .hed span:first-child {
        justify-content: flex-start;
        flex-grow: 4;
        border-right: 1px solid black;
    }

    .hed span:first-child>button {
        margin-left: 2em;
    }

    /*---------banner------------------------*/

    .ban {}

    .ban div {
        padding: 0;
    }

    .bh {
        font-size: 3rem;
    }

    .bp {
        font-size: 1rem;
        text-align:right;
    }

    .bb {
        margin: 0;
        align-self: center;
    }

    /*-------------------------footer----------------------*/
    .ad {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .ad button {
        margin: 0;
        width: calc((4/3)*65%);
        height: calc((3/4)*65%);

    }

}
