body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    overflow-x:hidden;
}

/*---------------- header css ---------------------*/
.hed {
    height: 2em;
    background-color: rgba(169, 169, 169, 0.063);

    display: flex;

    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
}

.hed span {
    display: flex;
}

.hed span a {
    text-decoration: none;
}

/*left button of header */
.hed span:nth-of-type(1) {
    background-color: rgba(92, 255, 255, 0.4);
    flex-grow: 1;
    justify-content: center;
}

.hed span:first-child>button {
    background-color: rgba(0, 139, 139, 0);
    border-radius: 0.3em;
}

/* center of header */
.hed span:nth-of-type(2) {
    background-color: rgba(255, 249, 164, 0.4);
    border-left: 1px solid black;
    border-right: 1px solid black;

    flex-grow: 3;
    justify-content: space-evenly;

}


/*right side header/login and sign up*/
.hed span:nth-of-type(3) {
    background-color: rgba(165, 255, 113, 0.4);
    justify-content: space-around;

    flex-grow: 1;
}

/*--------------------------banner-------------- */
.ban {
    width: 100%;
    flex-grow: 1;

    display: flex;

    flex-direction: column;
    background-color: #a16363;
    /*background-image: url(./imgs/mb3.jpg);
    background-position: center 25%;*/
}

.ban div {
    display: flex;
    height: 30%;
    flex-direction: column;


}

.ban div:first-child {
    flex-grow: 3;
    flex-shrink: 0;

    border: 3px solid darkmagenta;

}

.ban div:last-child {
    flex-grow: 1;
    flex-shrink: 1;
    border: 3px solid black;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

.ban div:last-child .bh {
    background-color: rgba(13, 117, 29, 0.1);

    font-weight: 600;
    font-size: 2.5rem;
    color: aliceblue;

    align-self: center;
    flex-grow: 3;

    display: flex;
    align-items: flex-end;
}

.ban div:last-child .bp {
    background-color: rgba(46, 51, 182, 0.1);
    color: wheat;
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-self: start;
    padding-top: 30px;
    flex-grow: 1;

}

.bb {
    background-color: #a16363;
    border-width: 2px;
    font-size: 2rem;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

    align-self: flex-end;
    margin-right: 3em;
    margin-bottom: -1.5em;
    margin-top: 1.5em;

    transition: all 0.5s;
}

.ban div:last-child .bb:hover {
    border-radius: 0;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    transform: scale(1.1);
    transform: translate(0px 5px);
    background-color: burlywood;
    box-shadow: 0 0.2em 0.8em rgba(183, 155, 0, 0.264);

}


/*---------------------------footer----------------*/
.ad {
    background-color: lightblue;
    height: 30%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ad span {
    display: flex;

}

.ad span:first-child {
    background-color: rgba(126, 55, 55, 0.5);

}

.ad span:last-child {
    background-color: rgba(67, 62, 130, 0.533);

}

.ba1 {}

.ba2 {}

/*-----------------phone css*------------------*/
@media(max-width:480px) {

    /*---------------header----------------*/
    /*hiding senter of header*/
    .hed span:nth-of-type(2) {
        display: none;
    }


    .hed span:first-child {
        justify-content: flex-start;
        flex-grow: 4;
        border-right: 1px solid black;
    }

    .hed span:first-child>button {
        margin-left: 2em;
    }

    /*---------banner------------------------*/

    .ban {
        flex-grow: 1;
        height: 50%;
    }

    .bb {
        margin: 0;
        margin-bottom: 2em;
        align-self: center;
    }

    /*-----------------footer-----------------*/
    .ad {
        flex-grow: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .ad span:first-child {}

    .ad span:last-child {
        display: flex;

    }

}
